<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!--<add key="cmsPath" value="C:\Windows\system32\inetsrv\iis.msc" />-->
    <add key="cmsPath" value="" />
    <!--<add key="cmsTooltips" value="Open the IIS" />-->
    <add key="cmsTooltips" value="" />

    <add key="ECommercePath" value="C:\Program Files (x86)\Evision\Evision.Econnector\eConnectorConfigTool\eShopConnectorConfig.exe" />
    <add key="ECommerceTooltips" value="Open the program WebTest" />

    <add key="DBFrontPath" value="Ssms" />
    <add key="DBFrontTootips" value="Open the Frontend database" />
    <add key="sitecorePath" value="" />
    <add key="sitecoreTooltips" value="" />
    <add key="umbracoPath" value="http://evision.local/single-product?product=1000" />
    <add key="umbracoTooltips" value="Open the Umbraco 1 demo website" />

    <add key="sitecore1Path" value="http://metronic/" />
    <add key="sitecore1Tooltips" value="Open the Sitecore 1 demo website" />

    <add key="connectorPath" value="C:\Program Files (x86)\Evision\Evision.Econnector\eConnectorConfigTool\eShopConnectorConfig.exe" />
    <add key="connectorTooltips" value="Open the eShopConnectorConfig tool" />
    <add key="DBerpPath" value="" />
    <add key="DBerpTooltips" value="" />
    <add key="mlTooltips" value="Open the document folder" />
    <add key="mlPath" value="C:\Documentgallery" />
    <add key="pimPath" value="C:\Program Files (x86)\Evision\Evision.ProductOraganizer\wpf_ProductOrganizer.exe" />
    <add key="pimTooltips" value="Open the PIM" />
    <add key="ERPPath" value="C:\Program Files (x86)\Microsoft Dynamics NAV\80\RoleTailored Client\Microsoft.Dynamics.Nav.Client.exe" />
    <add key="ERPTooltips" value="Opens the ERP system" />

    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>